header {background-color: #EFE8E2;  }
p#good img {position: absolute;
top: 10px; left: 120px;}
 div.mone{position: absolute;
top: 10px; left: 70em;}
pre {position: absolute;
top: 10px;
left: 90em;}
pre a {text-decoration: none; color: black;}
div.money header section.monkey p.far {color: #6b76ff; font-size:24px}
p#near { background-color: #6b76ff; color: white;border-radius: 7px; width: 7em;padding-left: 15px;}
section.monkey{text-align: eft; position: absolute;
top: 14em;
left: 40em; line-height: 20px; width: 30em;}
h1#cook {font-size: 45px;}
p#name img {margin-top: 100px; margin-left: 5em;}
p#table {float: left; margin-left: 100px; font-size: 20px;}
p#luck img{float: right; margin-right: 100px;}
h2.men {clear: both; text-align: center;font: 40px Arial bold;}
div#key{box-shadow: 0px 3px 6px #6B76FF; margin-left: 142px; border-radius: 5px; background: blue; width:282.93px; height: 282.93px; float: left;}
div#key h3 div#key #age {text-align: center;}
div#key p.hope img {position: relative;
top: -30px;
left: 40%;}
section.hello {color: white; text-align: center; position: relative;
top:120px;
left: 0%; }
p.trouble {text-align: center; margin-left: }
div.use { background: #ffffff; box-shadow: 0px 3px 6px #6B76FF; width:282.93px; height: 282.93px; margin-left: 40.5em; border-radius: 5px;}
section.hel{color: #787878; text-align: center; position: relative;
    top:120px;
    left: 0%; }
div.use p.land img{position: relative;
    top: -30px;
    left: 40%;}
    div.jay{box-shadow: 0px 3px 6px #6B76FF;  background: #ffffff; width:282.93px; height: 282.93px; position: absolute; right: 142px; top: 83em; border-radius: 5px;}
    div.jay p.land img{position: relative;
        top: -30px;
        left: 33%;}
        
div.hello {position: absolute; left: 142px; top: 105em; box-shadow: 0px 3px 6px #6B76FF;  background: #ffffff; width:282.93px; height: 282.93px;  border-radius: 5px;}
section#bay {color: #787878; text-align: center; position: relative; 
    top:120px;
    left: 0%;}
    div.hello p.photo img{position: relative;
        top: -30px;
        left: 40%;}
div#rem { background: #ffffff; box-shadow: 0px 3px 6px #6b76ff; width:282.93px; height: 282.93px; position: absolute; top:5px; left: 515px; border-radius: 5px;}
p#cell { margin-left: 30%; margin-top: -50px;}
div#arsene {box-shadow: 0px 3px 6px  #6B76FF;  background: #ffffff; width:282.93px; height: 282.93px; position: absolute; left: 1020px; top: 5px; border-radius: 5px;}
div#blue {width: 100%; height: 610px; background-color: #002084; position: absolute; top: 2030px; }
section#geda { width: 293px; height: 352px; background-color: #ffffff; border-radius: 10px; box-shadow: #6B76FF 0px 0px 10px; text-align: left; position: absolute; top: 130px; left: 142px;}
#ray {color: #ffffff; text-align: center;}
span { font-size: 24px;}
p.magma { margin-left: 25px; margin-top: 25px;}
h2#xen {position: absolute; top: 240px; left: 110px;} 
.bonny {position: absolute; left: 110px; top: 275px;}
section#gede { width: 293px; height: 352px; background-color: #ffffff; border-radius: 10px; box-shadow: #6B76FF 0px 0px 10px; text-align: left; position: absolute; top: 130px; left: 650px;}
section#get { width: 293px; height: 352px; background-color: #ffffff; border-radius: 10px; box-shadow: #6B76FF 0px 0px 10px; text-align: left; position: absolute; top: 130px; right: 142px;}
input#nine {width: 270px; padding-left: 15px; background-color: #ffffff; border-radius: 10px; height: 30px; }
div#vent { position: absolute; top: 2600px; background-color:#F2F2F2; width: 100%;}
h3 { text-align: center;}
ul#gen li {display: inline; padding-left: 20px; }
img#kent {width: 50px; height: 50px;}
img#kant {width: 45px; height: 45px;}
{position: absolute; top: 2700px;  border-bottom-style: 2px solid gray;}
div#hent {position: absolute; top: 2680px; left: 400px; width: 900px; height: 80px; border-bottom: 2px solid gray; box-shadow:#E4E4E4 0px 0px 6px; text-align: center;} 
pre#ty  {position: absolute; top: 2775px; left: 500px;padding-left: 30px;}
pre#ty a {padding-left: 25px;}
p#gud {position: absolute; top: 2755px; left: 400px;}
p#gud img{ width: 50px; height: 30px;}
p.lend {position:absolute; top: 60px; left: 90px;}
p#last {position: absolute; top: 2800px; left: 620px; text-align: center; width: 500px;font-size: 13px;}